[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"

[dev-packages]
webmetricscollectproduce = {path = "./collect_produce"}
webmetricsconsumepublish = {path = "./consume_publish"}

[requires]
python_version = "3.9"
